* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
/*=========HOME===========*/
.home{
    font-size: 20px;
    padding-top: 80px;
    
}
.hero {
  padding-top: 20px !important; /* Inasogeza h2 juu zaidi */
  padding-bottom: 20px !important;
  margin-top: 0 !important;
}

.hero h2{
    margin-top: 0 !important;
    text-shadow:#000;
    font-size: 55px;


  }  
.hero p{
    font-size: 20px;
    max-width: 700px;
    margin-top: 2px;
}
.header h1{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    
}
.navbar {
  background-color:#f9459f;
  color: white;
  padding: 10px 20px;
}

.navbar .logo {
  color: white;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

.navbar .nav-links a:hover {
  color: #ffe6f0; 
}


body.home {
  padding-top: 80px;
}

h2{
    color: #f9459f;
    margin-bottom: 5px;
   
}
p{
    margin-bottom: 15px;
}

img{
    border-radius: 10px;
    margin: 15px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul,ol{
    margin-left: 30px;
    font-size: 16;
}
.footer{
    background-color: #f9459f;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    
}
/*product*/
.products{
    padding: 0%;
}
.products h2{
    text-align: center;
    color: #ed2d93;
    margin-bottom: 5px;
}
.products p{
    text-align: center;
    margin-bottom: 30px;
}
.category-title{
    margin-top: 50px;
    margin-bottom: 25px;
}
.mypro{
    background-color: antiquewhite;
}
.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.product-card{
    width: 280px;
    background: white;
    border-radius:15px;
    overflow:hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    transition: .3s;
}
.product-card:hover{
    transform: translateY(-8px);
}
.product-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.product-card h3{
    color: #ff1493;
    margin: 15px;
    text-align: center;
}
.product-card p{
    padding: 0 15px 20px;
}
/*about*/
.about-hero{
   text-align: center;
   padding: 60px 10%;
}
.about-hero h2{
    font-size: 32px;
    color: #ff1493;
    margin-bottom: 10px;
}
.about-hero img{
     width: 500px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    margin: 20px 0;
}
.mission{
   background: #fff;
   padding: 50px 10%;
   text-align:center;
    padding: 0%;
    border-radius: 2px;
}
.mission h2{
    color: #ff1493;
    margin-bottom: 10px;
}
.mission p{
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
}
.vision{
    background: #fff8fc;
    padding: 50px 10%;
    text-align: center;
    padding: 5px;
}
.vision h2{
    color: #ff1493;
    margin-bottom: 20px;
}
.vision p{
    max-width: 800;
    margin: auto;
}
.values{
    padding: 50px 10%;
    text-align: center;
    padding: 2px;
    border-radius: 2px;
}
.values h2{
    color: #ff1493;
    margin-bottom: 25px;
}
.value ul{
    list-style: none;
}
.value li{
    background-color: white;
    width: 250px;
    color: #e56b6f;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0,.15);
}
.team{
    padding: 10px 5%;
    text-align: center;
}
.team h2{
    color: #ff1493;
    margin-bottom: 10px;
}
.team img{
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    margin: 20px 0;
}
.team p{
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
}
hr{
    border:none;
    height: 2px;
    background: #ffd6e7;
    width: 90%;
    margin: 30px auto;
}
/*tips*/
.tips-intro{
    text-align: center;
    font-size: 40;
    margin-bottom: 0%;
    padding: 0%;
}
.tips-hero{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20;
}
.tips{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.tips img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.tips h2{
    margin-bottom: 5px;
}
.tips p{
    margin-top: 10px;
}
/*=====================
     contacts
=======================*/
.contact{
    text-align: center;
    padding: 10px 10%;
}
.contact-intro{
    font-size: 16px;
    margin-bottom: 2px;
}
.contact-info{
    flex: 1;
    min-width: 200px;
    background: #fff8fc;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    text-align: left;
}
.contact-form{
    flex: 1;
    min-width: 100px;
    min-height: 100px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0, .15);
}
.contact-form input,contact-form textarea{
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
.contact-form input[type="submit"]{
    background: #ff1493;
    color: white;
    border: none;
    cursor: pointer;
    transition: .3s;
}
.contact-form input[type="submit"]:hover{
    background: #e60073;
}
